<table border=1>
<tr> 
  <td> login CRM-uv  </td> <td> 

  <a routerLink="/">
     cancel 
  </a>
   

  </td>
</tr>
<tr> 
  <td> Email </td> <td> <input type="email">  </td>
</tr>
<tr> 
<td> Password </td> <td> <input type="password">  </td>
</tr>
<tr> 
 <td></td> <td>

  <a routerLink="/forgot-password">
     Forgot Password ? 
  </a>

</td> 
</tr>
<tr> 
<td> </td> <td>

      <a routerLink="/home">
         <button> log in </button>
      </a>
 </td>
</tr>
<tr> 
 <td></td> <td> new?

  <a routerLink="/newuser">
    create account
  </a>
 </td> 
</tr>
</table>

