/* landing-page.component.css */
.landing-page {
    position: relative;
    width: 92.5vw;
    height: 100vh;
    background-image: url('fondo.jpg'); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen para mejor visibilidad del texto */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  